* {
  margin: 0;
  padding: 0;

}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #000000;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;
}

.inverte1 {
  filter: invert(1);
}

.inverte7 {
  filter: invert(0.7);
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  width: calc(100% - 40px);
  height: 15%;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 45%;
  justify-content: flex-start;
}

.navbar-left img {
  height: 27px;
}

.navbar-left .logo {
  height: 37px;
}

.home {
  width: 32px;
  height: 29px;
  background-color: #e0d8d8;
  border-radius: 100%;
  padding: 11px;
}

.navbar-left .home img,
.search-bar button svg {
  position: relative;
  left: 0.5px;
  top: 0;
  width: 30px;
  height: 30px;

}

.search-bar {
  background-color: #282828;
  display: flex;
  border: none;
  padding: 8px 12px;
  border-radius: 30px;
  color: white;
  width: min(100%, 20rem);
  height: 30px;
}

.search {
  height: 15px;
}

.search-bar input {
  width: 100%;
  flex: 1;
  min-width: 0;
}

.navbar-left div:nth-child(3):hover {
  border: 1px solid white;
}

.search-bar button {
  background-color: #282828;
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 45%;
  justify-content: flex-end;
}

.navbar-right a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.dot-btn {
  display: none;
}

.login-button {
  background-color: white;
  color: black;
  padding: 8px 17px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navbar-right button {
  background-color: black;
  border: .5px solid black;
  margin: 0;
  width: 30px;
}

.dot-btn .Support {
  position: absolute;
  flex-direction: column;
  display: none;
  height: 7rem;
  width: 10rem;
  z-index: 2;
  right: 10px;
  background-color: #171717;
  border-radius: 10px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 11px;
  transition: all 1s ease-out;
}

.Support.hidden {
  display: flex;
}

.navbar-right .dot-btn .Support div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 35px;
  width: 100%;
}

.left-bar,
.right-bar {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Support a {
  width: 50%;
}

.main {
  position: absolute;
  display: flex;
  width: calc(100% - 20px);
  height: 85vh;
  margin: 10px;
  gap: 10px;
}

.left {
  border-radius: 10px;
  width: 24%;
  min-height: calc(100% - 40px);
  /* border: 1px solid red; */
  background-color: #121212;
  padding: 20px 14px;
  overflow: auto;
}

.right {
  border-radius: 10px;
  width: calc(75% - 76px);
  min-height: calc(100% - 50px);
  /* border: 1px solid red; */
  background-color: #121212;
  /* background: linear-gradient(0deg, #121212, #bfbcbc2d); */
  overflow: auto;
  padding: 25px 38px;
}

.library {
  display: flex;
  justify-content: space-between;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer ul li a {
  color: #9eb0ae;
  text-decoration: none;
}

.footer a {
  color: #fff;
  font-size: 12px;
}

.footer ul {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 10px;
}

.footer button {
  display: flex;
  background: #121212;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  width: 100px;
  padding: 3px 7px;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 600;

}

.Playlist {
  display: flex;
  height: 70%;
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.music {
  display: flex;
  margin: 0 10px;
  width: calc(90% - 30px);
  border: 2px solid rgba(116, 121, 116, 0.827);
  border-radius: 20px;
  justify-content: space-between;
  padding: 7px 20px;
  align-items: center;
}

.music img {
  /* width: 10%; */
  max-width: 30px;
}

.music .info {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 190px;
  align-items: center;
  row-gap: 10px;
}

.music .info>div:nth-child(2) {
  font-size: 11px;
}

.music .play {
  width: 10%;
}

.music .play img {
  width: 24px;
  height: 24px;
}

.card {
  width: 10rem;
  min-height: 14rem;
  max-height: fit-content;
  /* border: 2px solid red; */
  padding: 7px 9px;
  position: relative;
  background-color: #ffffff14;
}

.card:hover {
  background: linear-gradient(178deg, #171717, #5d55557d);

}

.songs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 99%;
  gap: 20px;
  background-color: #121212;
  color: #fff;
  overflow: auto;
  align-content: flex-start;
    align-items: flex-start;
  /* padding: 20px; 
  height: 200vh; */
}

.right h2 {
  height: auto;
  width: 100%;
}

*::-webkit-scrollbar {
  width: 8px;

}

.right::-webkit-scrollbar-track,
.Playlist::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 10px;
}

.right::-webkit-scrollbar-thumb,
.Playlist::-webkit-scrollbar-thumb {
  background: #555;

  border-radius: 10px;
}

.right::-webkit-scrollbar-thumb:hover {
  background: #888;

}

.img {
  position: relative;
}

.card img {
  width: 10rem;
  object-fit: cover;
  position: relative;
}

.img div {
  position: absolute;
right: -10px;
    bottom: -8px;
  opacity: 0;
  height: 65px;
  width: 65px;
  transition: all cubic-bezier(0.3, 1.14, 0.44, 1.13) .5s;
}

.img div:hover {
  opacity: 1;
}

.hover {
  transform: translateY(-47px);
  opacity: 1;
}

.seekbar {
  position: absolute;
  width: 73.7%;
  height: 60px;
  background-color: #272424b0;
  bottom: 0px;
  right: 0px;
}

.seekbar .control {
  width: calu(100% - 40px);
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.seekbar .bar {
  width: 95%;
  height: 30%;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.bar .length {
  position: absolute;
  width: 100%;
  /* background-color: white; */
  height: 0;
  border: 3px solid rgb(98, 92, 92);
  border-radius: 10px;
}

.bar .circle {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 20px;
  bottom: 9px;
  left: 0%;
  transition: left 0.3s linear;
}

.play-btn {
  display: flex;
  gap: 10px;
  cursor: pointer;
  width: auto;
}

.playsong {
  min-width: 12rem;
}

.duration {
  display: flex;
  justify-content: flex-end;
  width: auto;
}

.volume {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 6px;
}

.vol-duration {
  display: flex;
  flex-direction: row;
  min-width: 15rem;
  justify-content: flex-end;
  gap: 20px;
}

.volume-slider {
  /* display: none; */
  -webkit-appearance: none;
  width: 100px;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  outline: none;
}

.volume-slider:hover {
  background: #bbb;
  /* display: block; */
}

.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb:hover {
  background: #388e3c;
}

.volume-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #4caf50;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}


.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}
.card .detail > div:first-child{
  font-size: large;
    font-weight: 700;
    margin: 0 0px 4px 0px;
}
@media (max-width: 1024px) {
  body {
    overflow: scroll;
  }

  .left-bar {
    display: none;
  }

  .dot-btn {
    display: block;
  }

  .search-bar button:nth-child(3) {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .left {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 40%;
    height: 100vh;
    background-color: #121212;
    transition: left 0.3s ease;
    z-index: 2;
    overflow-y: auto;
  }


  .left.open {
    left: 0;
  }

  .main {
    flex-direction: column;
    padding-left: 0;
  }

  .right {
    width: calc(100% - 76px);
  }

  .seekbar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}


@media (max-width: 768px) {

  .navbar-right {
    display: none;
  }

  .navbar-left {
    width: 100%;
  }

  .navbar {
    gap: 20px;
  }
  .right{
    padding: 15px;
   width: calc(100% - 30px);
  }

  .left {
    width: 60%;
  }

  .home {
    display: none;
  }

  .play-btn {
    display: flex;
    justify-content: center;
  }

  .music {
    padding: 7px 8px;
    margin: 0;
    width: calc(100% - 30px);
  }

  .seekbar .control {
    flex-direction: column;
    height: calc(90% - 20px);
    padding: 10px 0;
  }

  .seekbar {
    height: 120px;
  }

  .seekbar .bar {
    height: 10%;
  }
  .bar .circle{
    bottom: 4px;
  }
  .playsong{
    text-align: center;
  }
   .card{
    width: 30%;
    min-height: fit-content;
    transition: all 0.5 ease-in;
  }
  .songs{
    width: 100%;
     justify-content: center; 
  }
  .card img{
    width: 100%;
  }
}

@media (max-width:500px) {
  .left {
    width: 80%;
  }
  .card{
    width: 80%;
    min-height: fit-content;
    transition: all 0.5 ease-in;
  }
  .songs{
    width: 100%;
    justify-content: center;
  }
  .card img{
    width: 100%;
  }

}